<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Destination</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-dark bg-success">
        <a class="navbar-brand" href="#">TravelBuddy</a>
        <span>
            <a class="btn btn-success btn-md" href="/travels" role="button">Home</a>
            <a class="btn btn-success btn-md" href="/logout" role="button">Logout</a>
        </span> 
    </nav>
    <div class="container">
        <br>
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><strong>Destination:  </strong>{{ trip.destination }}</h4>
                    <p class="card-text">
                        <div class="col col-lg-12">
                            <p><strong>Planned By:  </strong>{{ trip.planner.name }}</p>
                            <p><strong>Description:  </strong>{{ trip.description }}</p>
                            <p><strong>Travel Date From:  </strong>{{ trip.travel_from }}</p>
                            <p><strong>Travel Date To:  </strong>{{ trip.travel_to }}</p>
                        </div>
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Other travelers crashing the party:</h4>
                    <p class="card-text">
                        {% for joiner in joined %}
                            <p><strong>Crasher: </strong>{{ joiner.name }}</p>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>